<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.myjob</string>

    <key>StandardErrorPath</key>
    <string>/Users/sheridan/Public/Docker/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/sheridan/Public/Docker/stdout.log</string>

    <key>WorkingDirectory</key>
    <string>/Users/sheridan/Public/Docker</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>./update_minecraft.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
       <dict>
        <key>Hour</key>
        <integer>13</integer>
        <key>Minute</key>
        <integer>30</integer>
        <key>Weekday</key>
        <integer>1</integer>
      </dict>
    </array>
  </dict>
</plist>
